= form_tag :sessions, url: 'login_path', action: :create do
  .form-group
    = label_tag :username
    = text_field_tag :username, '', class: 'form-control'

  .form-group
    = label_tag :password
    = password_field_tag :password, '', class: 'form-control'

  .form-group
    = submit_tag 'Login', class: 'btn btn-primary'   

