%h1 
  = @post.title.titleize
%p 
  = raw rouge_markdown(@post.content)

%span.badge 
  Posted
  = @post.created_at.strftime("%d %B %Y")
  by
  = @post.user.name.titleize
.pull-right
  = raw(@post.categories.map { |category| raw(link_to(category.name.capitalize, category_path(category))) }.join(' / '))    
%hr

= render 'discus'

- @post_title       = @post.title
- @post_description = truncate(@post.content, length: 100)
