/ fixed navbar
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button{type: 'button', class: 'navbar-toggle collapsed', data: {toggle: 'collapse', target: '#navbar'}, aria:{expanded: 'false'}, aria: {controls: 'navbar'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path do
        .navbar-brand
          = site_name

    .navbar-collapse.collapse#navbar
      %ul.nav.navbar-nav
        %li
          = link_to 'Site Identity', site_identities_path

        %li
          = link_to 'Personal Information', users_path

        %li
          %a{href: '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}, role: 'button', aria: {haspopup: 'true'}, aria: {expanded: 'false'}} 
            Formal Educations
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'New', new_formal_education_path
            %li
              = link_to 'Lists', formal_educations_path

        %li
          %a{href: '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}, role: 'button', aria: {haspopup: 'true'}, aria: {expanded: 'false'}} 
            Work Experiences
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'New', new_work_experience_path
            %li
              = link_to 'Lists', work_experiences_path

        %li
          %a{href: '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}, role: 'button', aria: {haspopup: 'true'}, aria: {expanded: 'false'}} 
            Expertise
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'New', new_expertise_path
            %li
              = link_to 'Lists', expertises_path

        %li
          %a{href: '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}, role: 'button', aria: {haspopup: 'true'}, aria: {expanded: 'false'}} 
            Posts
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'New', new_post_path
            %li
              = link_to 'Lists', posts_path
            %li
              = link_to 'Lists Categories', categories_path
            %li
              = link_to 'New Category', new_category_path

        %li
          = link_to 'Logout', session_path(current_user), method: :delete
