= form_for @user, url: account_path do | user |
  .form-group
    = user.label :username
    = user.text_field :username, class: 'form-control'

  .form-group
    = user.label :password
    (Leave blank if you do not change the password)
    = user.password_field :password, class: 'form-control'

  .form-group
    = user.label :password_confirmation
    (Leave blank if you do not change the password)
    = user.password_field :password_confirmation, class: 'form-control'

  .form-group
    = user.submit 'submit', class: 'btn btn-primary'
